<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include head.html %}
  </head>
  <body>
    <a class="sr-only" href="#content">Skip navigation</a>
    
    {% include toolbar.html %}

    {% include brandbar.html %}
    <!-- Docs page layout -->
    <div class="app-header hidden-xs">
        <div class="container">
           <h1 class="app-header-text">{{ page.title }}</h1>
            <p class="app-header-text">{{ page.lead }}</p>
        </div>
    </div>
    <div class="app-header visible-xs">
        <div class="container">
           <h1 class="app-header-text">B&uuml;rgermeister 2014</h1>
        </div>
    </div>
    <div class="jumbotron app-jumbotron" id="fp-app-jumbotron">
        <div class="container" id="fp-lead">
            <p>Werte Neus&auml;&szlig;er B&uuml;rgerinnen und B&uuml;rger,
                sowas will ich hier nicht sehen.
            </p>
            <a class="app-jumbotron-link" href="/vita">
                Meine Vita &raquo;
            </a>
        </div>
    </div>

    <div class="app-content">
        <div class="container" role="main">
          {{ content }}
        </div>
    </div>

    <div class="fp-sm-block">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <div class="fp-sm-teaser" id="fp-facebook-teaser">
                        <p class="lead">Facebook Teaser Text</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="app-decoarrow app-decoarrow-light"></div>
                    <div class="app-box-social">
                        <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                        <div class="fb-like-box" data-href="http://www.facebook.com/AndreasStrobel2014" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}
    <!-- JS and analytics only. -->
    {% include javascript.html %}
    {% include webfonts.html %}

  </body>
</html>