<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include head.html %}
  </head>
  <body>
    <a class="sr-only" href="#content">Skip navigation</a>
    
    {% include toolbar.html %}

    {% include brandbar.html %}
    <!-- Docs page layout -->
    <div class="app-header hidden-xs">
        <div class="container">
            <h1>AS</h1>
            <p>Unser AS f&uuml;r Neus&auml;&szlig;</p>
        </div>
    </div>
    <div class="jumbotron app-jumbotron" id="fp-app-jumbotron">
        <div class="container">
            <p>Werte Neus&auml;&szlig;er B&uuml;rgerinnen und B&uuml;rger,<br />
            als B&uuml;rgermeister will ich die Hinterzimmer-Politik in unserer Stadt beenden. Mit neuen Mehrheitsverhältnissen können wir gemeinsam mehr Transparenz schaffen.
            Ich m&ouml;chte Neus&auml;&szlig; in Zukunft aktiv gestalten. Ich stehe für nachhaltige Stadtentwicklung, solide Finanzen und gelebtes Miteinander. Mein Ziel ist, dass unsere Stadt auch morgen noch lebenswert ist!
            Auf meiner Seite erfahren Sie mehr &uuml;ber mich und meine Ideen. Haben Sie Fragen oder Anregungen? Ich freue mich über Ihre Nachricht!
            </p>
            <a class="app-jumbotron-link" href="/vita">
                Meine Vita &raquo;
            </a>
        </div>
    </div>

    <div class="app-content">
        <div class="container" role="main">
          {{ content }}
        </div>
      </div>

    </div>
    <hr>
    {% include footer.html %}
    <!-- JS and analytics only. -->
    {% include javascript.html %}
    {% include webfonts.html %}

  </body>
</html>