//
// Application stylesheet
// -----------------------------------------------

.app-toolbar + .app-navbar,
.app-toolbar + .app-brandbar {
    margin-top: @navbar-height;
}

.btn {
    border-radius: 0;
}

// Add basic styling to all input types

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    .form-control();
}

// Reset tetarea height
textarea {
    height: auto;
}

// Form control sizing
// Redefined here since our custom input field reset is applied later
// during rendering and therefore overrides these
.input-sm {
  .input-size(@input-height-small; @padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}

.input-lg {
  .input-size(@input-height-large; @padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
}

// Style plone default description

.documentDescription {
    .lead();
}


.app-content {
    margin-top: 3px;
    margin-bottom: @line-height-computed;
    padding-bottom: @line-height-computed;
    border-top: 2px solid @app-green-light;
    border-bottom: 2px solid @app-green-light;
}

.app-page {
    // font-size: @font-size-base * 1.25;
}

.app-list-item {
    margin-bottom: (@line-height-computed / 2);
    border-bottom: 2px solid @app-green-light;
}

.app-text-quoted {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        .square(50px);
        background:url(../../assets/img/quote-open.png) no-repeat 0 0 transparent;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        .square(50px);
        background:url(../../assets/img/quote-closed.png) no-repeat 0 0 transparent;
    }
}

// Event listing
.mode_selector {
    .nav();
    .nav-tabs();
}

.fp-bordered-column {
    border-left: 2px solid @app-green-light;
}

.fp-box {
    padding-right: @line-height-computed;
    border-right: 2px solid @app-green-lighter;
    .fb-box-footer {
        padding: @line-height-computed 0;
    }
}

.fp-content-block {
    margin-top: @line-height-computed;
    margin-bottom: (@line-height-computed / 2);
}
.fp-sm-teaser {
    background: @app-green-lighter;
    padding: @line-height-computed;
    .fp-facebook-teaser {
        padding: @line-height-computed;
    }
    @media (min-width: @screen-tablet) {
        padding: (@navbar-height * 2) @navbar-height;
    }
}

