//
// Header and jumbotron styles
// -----------------------------------------

.app-header {
    background: @app-hero-bg;
    .app-header-text {
        color: #fff;
        @media (min-width: @screen-sm) {
            text-indent: -9999px;
            overflow: hidden;
        }
    }
}

@media (min-width: @screen-tablet) {
    .app-header {
        height: 330px;
        background:url(../../assets/img/header-bg-01.jpg) no-repeat 0 0 @app-hero-bg;
    }
    body.section-termine .app-header {
        background-image:url(../../assets/img/header-bg-02.jpg);
    }
    body.section-blog .app-header {
        background-image:url(../../assets/img/header-bg-05.jpg);
    }
    body.section-vita .app-header {
        background-image:url(../../assets/img/header-bg-03.jpg);
    }
    body.section-kontakt .app-header {
        background-image:url(../../assets/img/header-bg-04.jpg);
    }
}

@media (min-width: @screen-md) {
    .app-header {
        background-position: 50% 0;
    }
}

.app-jumbotron {
    margin-bottom: ceil(@line-height-computed / 4);
    padding: (@jumbotron-padding / 2);
    .text-center();
}
