//
// Header and jumbotron styles
// -----------------------------------------

.app-header {
    background: @app-hero-bg;
    @media (min-width: @screen-tablet) {
        min-height: 330px;
        background:url(../../assets/img/banner.jpg) no-repeat 50% 0 @app-hero-bg;
    }
    .app-header-content {
        text-indent: -9999px;
        overflow: hidden;              
    }
}

.app-jumbotron {
    margin-bottom: (@line-height-computed / 4);
    .text-center();
}
