<header class="app-brandbar">
    <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="app-brand">
                <a class="app-brandname" href="">
                    <span>Andreas</span>
                    <span>Strobel</span>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <nav class="app-nav" role="navigation">
                <ul class="nav nav-pills nav-main" id="app-main-nav">
                  <li><a href="#">Termine</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Vita</a></li>
                  <li><a href="#">Kontakt</a></li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
</header>