<ul class="nav navbar-nav pull-right">
  <li id="plone-personal-actions" class="dropdown dropdown-userinfo">
    <a data-toggle="dropdown" class="dropdown-toggle" href="/author/123456789">
      <span>John Doe</span>
      <b class="caret">
    </b></a>
    <ul class="dropdown-menu"><li id="plone-personal-actions-dashboard">
        <a href="/dashboard">Persönliche Seite</a>
      </li>
      <li id="plone-personal-actions-preferences">
        <a href="/preferences">Meine Einstellungen</a>
      </li>
      <li id="plone-personal-actions-plone_setup">
        <a href="/controlpanel">Konfiguration</a>
      </li>
      <li id="plone-personal-actions-logout">
        <a href="/logout">Abmelden</a>
      </li>
    </ul></li>
</ul>